{% load user_filters %}

<div class="card-user" data-author="{{ author.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ author|get_full_name_or_username }}</h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all %}
                {% if forloop.counter < 4 %}
                    <li class="card-user__item">
                        {% include 'include/recipe_card_small.html' with recipe=recipe %}
                    </li>
                {% endif %}
            {% endfor %}
            {% if author.recipe_count > 3 %}
                <li class="card-user__item">
                    <a href="{% url 'author_recipes' author_name=author %}"
                       class="card-user__link link">Еще {{ author.recipe_count|add:"-3"|conjoin:"рецепт,рецепта,рецептов" }}...
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="card-user__footer">
        <div class="author-subscribe" data-author="{{ author.id }}">
        {% include 'include/follow_button.html' with recipe=author.recipes.first %}
        </div>
    </div>
</div>